
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title"> Medición </h4>
      </div>
      <div class='well' style='margin-bottom: 0px;'>
        <div ng-bind-html="msg"></div>
        <form name="measurementForm" class="form-horizontal" role="form" ng-submit="submitMeasurement()">
            <div ng-include="'views/partials/measurementform.html'"></div>
        </form>
    <div>
    </div>
  </div>
</div>
