<div class="form-group form-group-sm">
  <label for="type" class="col-sm-2 control-label">Tipo:</label>
    <div class="col-sm-10">
        <select id="type" class="form-control" 
            ng-options="t.id as t.name for t in type" 
            ng-model="measurement.measurement_type_id">
        </select>
    </div>
</div>
<div class="form-group" >
    <label for="value" class="col-sm-2 control-label">Valor:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="value" ng-model="measurement.value" placeholder="Resultado de medición"/>
    </div>
</div>
<div class="form-group form-group-sm">
    <label for="unit" class="col-sm-2 control-label">Unidad:</label>
    <div class="col-sm-10">
        <select id="unit" class="form-control" 
            ng-options="u.id as u.name for u in unit" 
            ng-model="measurement.measurement_unit_id">
        </select>
    </div>
</div>
<div class="form-group form-group-sm">
    <label for="source" class="col-sm-2 control-label">Fuente:</label>
    <div class="col-sm-10">
        <select id="source" class="form-control" 
            ng-options="s.id as s.name for s in source" 
            ng-model="measurement.measurement_source_id">
        </select>
    </div>
</div>
<div class="form-group" >
    <label for="date" class="col-sm-2 control-label">Fecha:</label>
    <div class="col-sm-10">
      <input size="10" class="form-control" ng-model="measurement.datetime" data-autoclose="1" placeholder="Date" bs-datepicker data-date-format="yyyy-MM-dd" type="text">
      <input size="4" class="form-control" ng-model="measurement.datetime" data-time-format="HH:mm:ss" data-autoclose="1" placeholder="Time" bs-timepicker type="text">
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-success" value="Save"/>
    </div>
</div>
