<div class = "form-group" ng-class = "{'has-error': profileForm.username.$invalid &&
    !profileForm.username.$pristine}" >
    <label for = "username" class = "col-sm-2 control-label" > Nombre de usuario: </label>
    <div class = "col-sm-10" >
        <input name = "username" type = "text" ng-model = "user.username" class = "form-control" 
            id = "username" placeholder = "Ingrese un nombre con el que desee identificarse" required >
            <p ng-show = "profileForm.username.$invalid && profileForm.username.$touched"
            class = "help-block" > Debe ingresar su nombre de usuario. </p>
    </div>
</div>

<div class = "form-group" ng-class = "{'has-error': profileForm.first_name.$invalid &&
    !profileForm.first_name.$pristine}" >
    <label for = "first_name" class = "col-sm-2 control-label"> Nombre: </label>
    <div class="col-sm-10">
        <input name = "first_name" type = "text" ng-model = "profile.first_name" class = "form-control" 
            id = "first_name" placeholder = "¿Cuál es su nombre?" required >
            <p ng-show = "profileForm.first_name.$invalid && profileForm.first_name.$touched"
            class = "help-block"> Debe ingresar su nombre. </p>
    </div>
</div>


<div class = "form-group" ng-class = "{'has-error': profileForm.last_name.$invalid &&
    !profileForm.last_name.$pristine}">
    <label for = "last_name" class = "col-sm-2 control-label"> Apellido: </label>
    <div class = "col-sm-10">
        <input name = "last_name" type = "text" ng-model = "profile.last_name" class = "form-control"
        id = "last_name" placeholder = "¿Cuál es su apellido?" required >
            <p ng-show = "profileForm.last_name.$invalid && profileForm.last_name.$touched"
            class = "help-block"> Debe ingresar su apellido. </p>
        </div>
</div>

<div class = "form-group" ng-class = "{'has-error': profileForm.birthday.$invalid && 
    !profileForm.birthday.$pristine}">
    <label for = "birthday" class = "col-sm-2 control-label"> Fecha de nacimiento: </label>
    <div class = "col-sm-10">
        <input autocomplete="off" name = "birthday" size = "10" class = "form-control" ng-model = "profile.birthday" data-autoclose = "1"
        data-timezone = 'UTC' placeholder = "¿Cuándo nació?" bs-datepicker data-date-format = "dd-MM-yyyy" type = "text"required>
        <p autocomplete="off" ng-show = "profileForm.birthday.$invalid && profileForm.birthday.$touched"
        class = "help-block"> Debe ingresar su fecha de nacimiento. </p>
    </div>
</div>

<div class = "form-group form-group-sm">
    <label for = "gender" class = "col-sm-2 control-label"> Género </label>
    <div class = "col-sm-10">
        <select id = "gender" class = "form-control" 
            ng-options = "r.id as r.name for r in genders" 
            ng-model = "profile.gender_id">
        </select>
    </div>
</div>

<div class = "form-group"
    ng-class = "{ 'has-error': !profileForm.email.$pristine && profileForm.email.$touched && 
        profileForm.last_name.$invalid}"> 
    <label for = "email" class = "col-sm-2 control-label" > Email: </label>
    <div class = "col-sm-10" >
        <input name = "email" type = "email" ng-model = "user.email" class = "form-control"
            id = "email" placeholder = "correo electrónico" required >
        <p class = "help-block" ng-show = " profileForm.email.$touched && 
            profileForm.email.$error.requerid"> Debe ingresar su email. </p>
        <!-- si lo q ingreso no es un mail le avisa -->
        <p ng-show = "profileForm.email.$error.email "
            class = "help-block"> Ingrese un correo electrónico válido </p>
    </div>
</div>

<div class = "form-group" ng-class = "{'has-error': profileForm.password.$invalid && 
    !profileForm.password.$pristine}">
    <label for = "password" class = "col-sm-2 control-label"> Contraseña: </label>
    <div class = "col-sm-10">
         <input name = "password" size = "10" class = "form-control" ng-model = "user.password" data-autoclose = "1"
        placeholder = "contraseña" type = "password" required/>
        <p ng-show = "profileForm.password.$invalid && profileForm.password.$touched"
        class = "help-block"> Debe ingresar una contraseña. </p>
    </div>
</div>

<div class="form-group">
  <label for="is_health_professional" class="" style='margin-right:10px;'>¿Desea ser usuario médico?:</label>
  <input name="is_health_professional" type="checkbox" class="" id="is_health_professional" ng-model="profile.is_health_professional">
</div>
    

<div class = "form-group">
    <div class = "col-sm-offset-2 col-sm-10">
        <input type = "submit" class = "btn btn-success" value = "Save" ng-disabled = "profileForm.$invalid"/>
        <a class = "btn btn-default" href = "javascript:history.go(-1)"> Cancelar </a>
    </div>
</div>
