<div class="aside" tabindex="-1" role="dialog" >
    <div class="aside-dialog">
        <div class="aside-content">
        
            <div class="aside-header" >
                <a class="close" ng-click="$hide()">&times;</a>
                <div class="imglogo logo" >
                    <img src="images/logoSticker.png"></img>
                </div>
            </div>

            <div class="aside-body"  >

                <div class='aside-nav' style='opacity:1;'>
                <!-- Botoneras -->
                <ul class="nav">
                    <li data-match-route="/analyses">
                        <a href="#/analyses" ng-click="$hide()" >
                            <span><p><i class="fa fa-folder-open-o"></i>
                                Análisis</p></span>
                        </a></li>           
                    <li  data-match-route="/home">
                        <a href="#/home" ng-show='is_logged' ng-click="$hide()" >
                            <span><p><i class="fa fa-bar-chart"></i>
                                Histórico</p></span>
                        </a></li>
                    <li data-match-route="/profileMeasurements">
                        <a href="#/profileMeasurements" ng-show='is_logged' ng-click="$hide()" >
                            <span><p><i class="fa fa-file-text-o"></i>
                                Resumen</p></span>
                        </a></li>
                </ul> 

                <ul class="nav" id="accordion" role="tablist" aria-multiselectable="true">
 
                    <!--Mensajes y Notificaciones -->

                    <li role="tab" id="headingTwo" ng-show="is_logged">
                       <a role="button" data-toggle="collapse"
                           data-parent="#accordion" href="#messages"
                            aria-controls="messages">
                            <span><p><i class="fa fa-envelope"></i>
                                <span ng-show="msgs.length>0" class="notification">
                                    {{msgs.length}}</span>
                                <b class="caret"></b>
                            </p></span> 
                        </a>
                        <div id="messages" class="panel-collapse collapse "
                            role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
                                    <li ng-repeat="m in msgs"><a href="#"
                                        ng-click="$hide()">{{m}}</a></li>
                                </ul>

                            </div><!-- panel-body-->
                        </div> <!-- panel-collapse-->
                    </li>
                    <li role="tab" id="headingThree" ng-show="is_logged">
                       <a role="button" data-toggle="collapse"
                           data-parent="#accordion" href="#notif"
                            aria-controls="messages">
                            <span><p><i class="fa fa-globe"></i>
                                <span ng-show="msgs.length>0" class="notification">
                                    {{msgs.length}}</span>
                                <b class="caret"></b>
                            </p></span> 
                        </a>
                        <div id="notif" class="panel-collapse collapse "
                            role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li ng-repeat="n in notifications"><a href="#"
                                        ng-click="$hide()">Notificación {{$index+1}}</a></li>
                                </ul>

                            </div><!-- panel-body-->
                        </div> <!-- panel-collapse-->
                    </li>
                    <!-- Mi cuenta -->
                    <li role="tab" id="headingOne">
                        <a role="button" data-toggle="collapse"
                            data-parent="#accordion" href="#collapseOne"
                            aria-controls="collapseOne">
                            <span><p> <i class="fa fa-user"></i>
                                Mi cuenta
                                <b class="caret"></b>
                            </p><span>
                        </a>
                        <div id="collapseOne" class="panel-collapse collapse "
                            role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">

                                <ul ng-if='is_logged' >
                                    <li><a href="#/myProfileInformation" ng-click="$hide()"><i class='fa fa-user'></i> Información Personal</a></li>
                                    <li><a href="#/dropbox-auth-start" ng-click="$hide()"><i class='fa fa-hdd-o'></i> Configurar almacenamiento</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#/logoff" ng-click="$hide()"><i class='fa fa-sign-out'></i> Cerrar Sesión</a></li>
                                </ul>
                                <ul ng-if='!is_logged' >
                                    <li><a href="#/login" ng-click="$hide()"><i class='fa fa-sign-in'></i> Iniciar Sesión</a></li>
                                </ul>

                            </div><!-- panel-body-->
                        </div> <!-- panel-collapse-->
                    </li>



               </ul>



            </div><!-- ./class="aside-nav"-->
            </div><!-- ./class="aside-body"-->


        </div><!--./class="aside-content" -->
        <div class='aside-transparent' ></div>
    </div> <!--./class="aside-dialog" -->
</div> <!-- ./class="aside" -->
