<div class="aside" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header" >

                        <button type="button" class="close" ng-click="$hide()">&times;</button>


                        <div class="imglogo logo" >
                            <img src="images/logoSticker.png"></img>
                        </div>


                    </div>
                    <div class="aside-body" >i lalala
                        <ul class="nav">
                            <li data-match-route="/analyses">
                            <a href="#/analyses" ng-click="$hide()" >
                                <span><p><i class="fa fa-folder-open-o"></i>
                                    Análisis</p></span>
                            </a></li>           
                            <li  data-match-route="/home">
                            <a href="#/home" ng-show='is_logged'ng-click="$hide()" >
                                <span><p><i class="fa fa-bar-chart"></i>
                                    Histórico</p></span>
                            </a></li>
                            <li data-match-route="/profileMeasurements">
                            <a href="#/profileMeasurements" ng-show='is_logged'ng-click="$hide()" >
                                <span><p><i class="fa fa-file-text-o"></i>Resumen</p></span>
                            </a></li>
                        </ul> 

                    </div>
                </div>
            </div>
