<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>YesDoc</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-additions/dist/bootstrap-additions.css" />
    <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angularjs-slider/dist/rzslider.css" />
    <link rel="stylesheet" href="bower_components/flexslider/flexslider.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css" />
    <!-- Animation library for notifications   -->
    <link rel="stylesheet" href="styles/animate.css" />
    <!--  Light Bootstrap Table core CSS    -->
    <link rel="stylesheet" href="styles/light-bootstrap-dashboard.css" />
    <!-- endbuild -->
 
</head>
<body ng-app="saludWebApp">
      
    <!--[if lt IE 7]>
    <p class="Firefox">You are using an <strong>outdated</strong> browser.
    Please <a href="https://www.mozilla.org/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
<div class="wrapper">
    <!-- Add your site or application content here -->
    <!-- Navbar vertical-->
    <div class="sidebar" ng-attr-data-color="{{(is_health_professional && is_logged && 'blue')||'green'}}" data-image="images/pc3.png" ng-controller='NavCtrl'>    
        <div class="sidebar-wrapper" ng-cloak>
           
            <a href="#/myProfileInformation">
                <div class="imglogo logo" >
                    <img src="/images/logoSticker.png"></img>
                </div>
            </a>   
            <ng-include src="'views/partials/navbar_options.html'"></ng-include>
        </div> <!--sedebar-wrapper -->
       <div class="sidebar-background"></div>
    </div> <!-- class="sidebar" -->
 
    <div class="main-panel"> 
        <nav class="navbar navbar-default navbar-fixed"> 
        <div class="container-fluid" >
    
            <!-- Mobile-->
            <div class="navbar-header">
                
                <div template-url="views/partials/vertical_navbar.html" bs-aside="aside"  
                    data-container="body" ng-controller="NavCtrl"> 
                    <button type="button" class="navbar-toggle " data-toggle="collapse"
                        data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div> <!--/.template -->

                <!-- Navbar horizontal mobile-->
                <div class="navbar-brand hidden-lg" ng-controller='NavCtrl'>

                    <ul class="nav  nav-pills" ng-cloak> 
                        <li><a><img src="images/yesDoc2.png"></img></a></li>
                        <li ng-show='is_logged'>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope"></i>
                            <b class="caret"></b>
                            <span ng-show="msgs.length>0" class="notification">{{msgs.length}}</span>
                        </a>
                        <ul class="dropdown-menu" style='width:30vw'>
                            <li class='text-center' ng-show="msgs.length==0">
                                <i style='color:#999'>No hay mensajes nuevos</i>
                            </li>
                            <li ng-repeat="m in msgs">
                            <div class="media">
                                    <a href="" ng-click='redirect(m)' title='{{m.description}}'>
                                        <div class="media-body" style='padding:5px;border-bottom: 1px #eee solid;'>
                                            <div class="media-heading">
                                                <p>{{m.title}}</p>
                                            </div>
                                            <small class='pull-right'><span style='color:#777' am-time-ago="m.created_datetime"></span></small>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li role="separator" class="divider" style='margin:3px;'></li>
                                <li class='text-center'>
                                <a ng-href="#/messages"> Mostrar mensajes antiguos</a>
                            </li>
                        </ul>
                        </li>
                        <li ng-show="is_logged" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-globe"></i>
                                <b class="caret"></b>
                                <span ng-show="notifications.length>0" class="notification" ng-bind="notifications.length"></span>
                            </a>
                            <ul class="dropdown-menu" style='width:30vw;'>
                                <li class='text-center' ng-show="notifications.length==0"><i style='color:#999'>No hay notificaciones nuevas</i></li>
                                <li ng-repeat="n in notifications">
                                <div class="media">
                                    <a href="" ng-click='redirect(n)' title='{{n.description}}'>
                                        <div class="media-body" style='padding:5px;border-bottom: 1px #eee solid;'>
                                            <div class="media-heading">
                                                <p>{{n.title}}</p>
                                            </div>
                                            <small class='pull-right'><span style='color:#777' am-time-ago="n.created_datetime"></span></small>
                                        </div>
                                    </a>
                                </div>
                                </li>
                                <li role="separator" class="divider" style='margin:3px;'></li>
                                <li class='text-center'>
                                <a ng-href='#/notifications'> Mostrar notificaciones antiguas</a>
                                </li>
                            </ul>
                        </li>
                        <!-- Spinner on mobile -->
                        <li class='dropdown'>
                              <a class="dropdown-toggle spinner">
                                <i class="fa fa-spinner fa-pulse"></i> 
                              </a>
                        </li>
                    </ul>

                </div> <!-- /.navbar-brand hidden-lg -->


           </div><!-- /.navbar-header -->

            <div class="collapse navbar-collapse" ng-controller='NavCtrl'> 
                
                <!-- Navbar horizontal desktop-->
                <ul class="nav navbar-nav navbar-left">
                    <li ng-show='is_logged' ng-cloak class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope"></i>
                            <b class="caret"></b>
                            <span ng-show="msgs.length>0" class="notification">{{msgs.length}}</span>
                        </a>
                        <ul class="dropdown-menu" style='width:30vw'>
                            <li class='text-center' ng-show="msgs.length==0">
                                <i style='color:#999'>No hay mensajes nuevos</i>
                            </li>
                            <li ng-repeat="m in msgs">
                            <div class="media">
                                    <a href="" ng-click='redirect(m)' title='{{m.description}}'>
                                        <div class="media-body" style='padding:5px;border-bottom: 1px #eee solid;'>
                                            <div class="media-heading">
                                                <p>{{m.title}}</p>
                                            </div>
                                            <small class='pull-right'><span style='color:#777' am-time-ago="m.created_datetime"></span></small>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li role="separator" class="divider" style='margin:3px;'></li>
                                <li class='text-center'>
                                <a ng-href='#/messages'> Mostrar mensajes antiguos</a>
                            </li>
                        </ul>
                    </li>
                    <li ng-show="is_logged" ng-cloak class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-globe"></i>
                            <b class="caret"></b>
                            <span ng-show="notifications.length>0" class="notification">{{notifications.length}}</span>
                        </a>
                        <ul class="dropdown-menu" style='width:30vw;'>
                            <li class='text-center' ng-show="notifications.length==0"><i style='color:#999'>No hay notificaciones nuevas</i></li>
                            <li ng-repeat="n in notifications">
                            <div class="media">
                                <a href="" ng-click='redirect(n)' title='{{n.description}}'>
                                    <div class="media-body" style='padding:5px;border-bottom: 1px #eee solid;'>
                                        <div class="media-heading">
                                            <p>{{n.title}}</p>
                                        </div>
                                        <small class='pull-right'><span style='color:#777' am-time-ago="n.created_datetime"></span></small>
                                    </div>
                                </a>
                            </div>
                            </li>
                            <li role="separator" class="divider" style='margin:3px;'></li>
                            <li class='text-center'>
                            <a ng-href='#/notifications'> Mostrar notificaciones antiguas</a>
                            </li>
                        </ul>
                    </li>
                  <!-- Spinner on Desktop -->
                  <li class='dropdown visible-lg'>
                        <a class="dropdown-toggle spinner">
                          <i class="fa fa-spinner fa-pulse"></i> 
                        </a>
                  </li>
                </ul>
                <!-- Navbar vertical desktop-->
                <ul class="nav navbar-nav navbar-right" >
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-cloak>
                            <i class="fa fa-user"></i>
                            {{(user_name || "Mi cuenta")}}
                            <b class="caret"></b>
                        </a>
                        <ul ng-if='is_logged' class="dropdown-menu">
                          <li><a href="#/myProfileInformation"><i class='fa fa-user'></i> Información Personal</a></li>
                          <li ng-show='(is_logged && !is_health_professional)' >
                            <a href="#/dropbox-auth-start"><i class='fa fa-hdd-o'></i> Configurar almacenamiento</a>
                          </li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#/logoff"><i class='fa fa-sign-out'></i> Cerrar Sesión</a></li>
                        </ul>
                        <ul ng-if='!is_logged' class="dropdown-menu">
                          <li><a href="#/login"><i class='fa fa-sign-in'></i> Iniciar Sesión</a></li>
                        </ul>
                    </li>
                </ul>
        </div><!-- /.navbar-collapse -->

        </div><!-- /.container-fluid -->
        </nav>

        <!--En esta sección se cargará el contenido determinado por el panel de
        navegación -->
        <div class="content">
            <div class="container-fluid">
                <div id="contents" app-view-segment="0"></div>
                <!-- <div ng-view=""></div> -->
            </div>
        </div>



        <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
            <span class="glyphicon glyphicon-heart"> <img src="images/yesDoc2.png"></img></span>
            </nav>
        </div>
        </footer>

    </div> <!-- class="main panel" -->
</div> <!--class="wraper-->


</body>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/build/nv.d3.js"></script>
    <script src="bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-route-segment/build/angular-route-segment.js"></script>
    <script src="bower_components/angular-i18n/angular-locale_es-ar.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/moment/locale/es.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angularjs-slider/dist/rzslider.js"></script>
    <script src="bower_components/flexslider/jquery.flexslider.js"></script>
    <script src="bower_components/angular-flexslider/angular-flexslider.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
        <!--   Core JS Files   -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/profileinformation.js"></script>
        <script src="scripts/controllers/profileinformation-edit.js"></script>
        <script src="scripts/controllers/profileanduser-new.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/logoff.js"></script>
        <script src="scripts/controllers/profilemeasurements.js"></script>
        <script src="scripts/controllers/measurement-edit.js"></script>
        <script src="scripts/controllers/measurement-new.js"></script>
        <script src="scripts/controllers/logoff.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/dropbox-auth-finish.js"></script>
        <script src="scripts/controllers/dropbox-auth-start.js"></script>
        <script src="scripts/controllers/nav.js"></script>
        <script src="scripts/controllers/notifications.js"></script>
        <script src="scripts/controllers/messages.js"></script>
        <script src="scripts/controllers/analysis-new.js"></script>
        <script src="scripts/controllers/analyses.js"></script>
        <script src="scripts/controllers/analysesshow.js"></script>
        <script src="scripts/controllers/compartidos.js"></script>
        <script src="scripts/controllers/patients.js"></script>
        <script src="scripts/services/resources/measurementunit.js"></script>
        <script src="scripts/services/resources/measurementsource.js"></script>
        <script src="scripts/services/resources/measurementtype.js"></script>
        <script src="scripts/services/resources/measurementtypeunit.js"></script>
        <script src="scripts/services/resources/measurement.js"></script>
        <script src="scripts/services/resources/mymeasurement.js"></script>
        <script src="scripts/services/resources/user.js"></script>
        <script src="scripts/services/resources/myuser.js"></script>
        <script src="scripts/services/resources/profilemeasurementslatest.js"></script>
        <script src="scripts/services/resources/gender.js"></script>
        <script src="scripts/services/resources/profile.js"></script>
        <script src="scripts/services/resources/myprofile.js"></script>
        <script src="scripts/services/resources/profilemeasurements.js"></script>
        <script src="scripts/services/resources/login.js"></script>
        <script src="scripts/services/resources/analysis.js"></script>
        <script src="scripts/services/resources/myanalyses.js"></script>
        <script src="scripts/services/resources/analysisfile.js"></script>
        <script src="scripts/services/resources/storagecredentials.js"></script>
        <script src="scripts/services/resources/mystoragecredentials.js"></script>
        <script src="scripts/services/resources/storagelocations.js"></script>
        <script src="scripts/services/resources/permissiontypes.js"></script>
        <script src="scripts/services/resources/permissions.js"></script>
        <script src="scripts/services/resources/analysispermissions.js"></script>
        <script src="scripts/services/resources/analysiscomments.js"></script>
        <script src="scripts/services/resources/mygroups.js"></script>
        <script src="scripts/services/resources/mygroupmemberships.js"></script>
        <script src="scripts/services/resources/groups.js"></script>
        <script src="scripts/services/resources/groupmembershiptypes.js"></script>
        <script src="scripts/services/resources/groupsmembers.js"></script>
        <script src="scripts/services/resources/groupmemberships.js"></script>
        <script src="scripts/services/resources/notifications.js"></script>
        <script src="scripts/services/resources/mysharedanalyses.js"></script>
        <script src="scripts/services/resources/mysharedprofiles.js"></script>
        <script src="scripts/services/resources/mygravatar.js"></script>
        <script src="scripts/services/global.js"></script>
        <script src="scripts/services/d3service.js"></script>
        <script src="scripts/services/global.js"></script>
        <script src="scripts/services/authentication.js"></script>
        <script src="scripts/directives/linegraph.js"></script>
        <script src="scripts/directives/filesmodel.js"></script>
        <script src="scripts/services/upload.js"></script>
        <!-- endbuild -->

</body>
</html>
