<!--
<div class="container">
</div>
-->
<div class="panel panel-default" style='margin:20px'>
  <div class="panel-heading"><h3>Análisis</h3></div>
  <div class="panel-body">

    <div class="row">

      <div class="col-sm-6 col-md-3" ng-repeat="a in analyses">
        <a class='analysis' ng-href='#/home/analyses/{{a.id}}'>
        <div class="thumbnail">
          <div class='box' style="background:url(images/escul.jpeg) no-repeat 50% 0%;opacity:1">
            <div class="overlay"></div>
          </div>
          <div class="caption caption-blue">

            <h3 class='text-center'>
              <span >{{a.description}}</span>
            </h3>
            <p class='text-right caption-date' >{{a.date}}</p>
          </div>
        </div>
        </a>
      </div>

    </div>

  </div>
</div>
