  <div class="card">
    <div class='header' >
      <h4 class='title'>
        <span class="fa fa-heartbeat fa-lg" aria-hidden="true"></span>
        &nbsp; {{a.description}}  <small class='text-right'>{{a.datetime | date:'fullDate'}}</small>

        <div class="pull-right">
          <a href='' ng-click='showGroupPerms()' class='btn btn-default' style='float:right;margin-left:10px;'>
            <i class="fa fa-group fa-lg"></i>
          </a>

          <a href='' ng-click='showConfig()' class='btn btn-default' style='float:right;'>
            <i class="fa fa-share-alt fa-lg"></i>
          </a>

        </div>
      </h4> 
    </div>
    <div class="content" style='padding-top:0px;'>

      <div id='slides_flex'>
      <flex-slider 
        ng-if='afs'
        slider_id='carousel'
        flex-slide="s in afs track by $index" 
        animation="slide" 
        control-nav='false'
        slideshow-speed= '4000'
        animation-loop="true" 
        pause-on-hover="true" 
        item-width="210" 
        item-margin="5">
      <li id='slide_{{$index}}'>
          <a href='' ng-click='showImage($index)'>
            <div style=" width:210px;height:150px;background : url({{s.imageSrc}}) no-repeat 50% 10%;background-size: 100% auto;">
            </div>
          </a>
        </li>
      </flex-slider>
      </div>

      <div class="panel panel-default" ng-show='aFiles'>
        <div class="panel-body">
          <table class="table">
            <caption>
              Archivos
              <a class='btn btn-success pull-right' ng-click='showAFileModal()' style='margin-top:-5px'>
                <i class='fa fa-plus'></i><span class='hidden-xs'>Nuevo</span>
              </a>
            </caption>
            <thead>
              <tr>
                <th>#</th>
                <th></th>
                <th>Descripción</th>
                <th>Encriptado</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='af in aFiles'>
                <th scope="row">{{($index+1)}}</th>
                <td><i class='fa fa-file-image-o fa-lg'></i></td>
                <td>{{af.description}}</td>
               <td>
                  <button ng-show='af.is_encrypted' title='Archivo encriptado' class="btn btn-success" disabled >
                    <i class='fa fa-lock fa-lg'></i>
                  </button>
                  <button ng-show='!af.is_encrypted' title='Archivo NO encriptado' class="btn btn-warning" disabled >
                    <i class='fa fa-unlock fa-lg'></i>
                  </button>
                </td>
                <td>
                  <a class='btn btn-primary' target="_self" href="{{af.urlDownload}}" download='{{af.description}}'>
                    <i class='fa fa-download'></i><span class='hidden-xs'>Descargar</span>
                  </a>
                </td>
                <td>
                  <button class='btn btn-danger' ng-click='deleteAnalysisFile(af,$index)'>
                    <i class='fa fa-trash'></i><span class='hidden-xs'>Eliminar</span>
                  </button>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="panel panel-default" ng-show='aFiles && measurements'>
        <div class="panel-body">
          <table class="table">
            <caption>
              Mediciones
              <a class='btn btn-success pull-right' ng-click='showAMeasurementModal()' style='margin-top:-5px'>
                <i class='fa fa-plus'></i><span class='hidden-xs'>Nuevo</span>
              </a>
            </caption>
            <thead>
              <tr>
                <th>#</th>
                <th>Tipo</th>
                <th>Valor</th>
                <th>Unidad</th>
                <th>Fuente</th>
                <th>Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='m in measurements'>
                <th scope="row">{{($index+1)}}</th>
                <td>{{m.measurement_type.name}}</td>
                <td>{{m.value}}{{m.measurement_unit.symbol}}</td>
                <td>{{m.measurement_unit.name}}</td>
                <td>{{m.measurement_source.name}}</td>
                <td>{{m.datetime | date:'dd/MM/yyyy HH:mm'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div class="panel panel-default" style='margin-top:30px;' ng-show='aFiles && measurements && comments'>
        <div class="panel-heading"><strong>{{commentsLength()}}</strong></div>

        <div class="panel-body">

          <div class="media" ng-repeat='c in comments'>
            <div class="media-left">
              <a href="#">
                <img ng-show='c.src' class="media-object" ng-src="{{c.src}}" alt="" style='width:64px;height:auto'>
              </a>
            </div>
            <div class="media-body">
              <h5 style='margin-top:0px;margin-bottom:0px;'><a href=''>{{c.profile.first_name}} {{c.profile.last_name}}</a>  <small am-time-ago='c.datetime'></small></h5>
              <p>{{c.comment}}</p>
            </div>
          </div>

          <form name="commentForm" class="form-horizontal" role="form" ng-submit="addComment()">
            <div class="panel panel-default" style='margin-top:10px;'>
              <div class="panel-body">
                <textarea id='comment' ng-model='c.comment' class="form-control" style="padding:0px !important;border: none" rows="3" id="comment" placeholder="Realiza un comentario."></textarea>
              </div>
              <div class="panel-footer">
                <div style='text-align: right;'>
                  <button class="btn btn-primary" style=''>Enviar</button>
                </div>
              </div>
            </div>
          </form>


        </div>
      </div>


    </div>
  </div>
</div>
