  <div class="card">
    <div class='header' >
      <h4 class='title'>
        <span class="fa fa-heartbeat fa-lg" aria-hidden="true"></span>
        &nbsp; {{a.description}}  <small class='text-right'>{{a.datetime | date:'fullDate'}}</small>
        <div class="pull-right">
          <a href='' ng-click='showConfig()' class='btn btn-default' style='float:right;'>
            <i class="fa fa-share-alt fa-lg"></i>
          </a>
        </div>
      </h4> 
    </div>
    <div class="content" style='padding-top:0px;'>

      <flex-slider 
        slider_id='carousel'
        flex-slide="s in afs track by $index" 
        animation="slide" 
        control-nav='false'
        slideshow-speed= '4000'
        animation-loop="true" 
        pause-on-hover="true" 
        item-width="210" 
        item-margin="5">
        <li>
          <a href='' ng-click='showImage($index)'>
            <div style=" width:210px;height:150px;background : url({{s.imageSrc}}) no-repeat 50% 10%;background-size: 100% auto;">
            </div>
          </a>
        </li>
      </flex-slider>

      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table">
            <caption>Archivos</caption>
            <thead>
              <tr>
                <th>#</th>
                <th></th>
                <th>Descripción</th>
                <th>Encriptado</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='af in aFiles'>
                <th scope="row">{{($index+1)}}</th>
                <td><i class='fa fa-file-image-o fa-lg'></i></td>
                <td>{{af.description}}</td>
                <td>
                  <h5 style='margin:0px;' >
                  <span ng-show='af.is_encrypted' title='Archivo encriptado' class="label label-success" style='padding-top:0.6em;padding-bottom:0.6em;'>
                    <i class='fa fa-lock fa-lg'></i>
                  </span>
                  <span ng-show='!af.is_encrypted' title='Archivo NO encriptado' class="label label-warning" style='padding-top:0.6em;padding-bottom:0.6em;'>
                    <i class='fa fa-unlock fa-lg'></i>
                  </span>
                  </h5>
                </td>
                <td>
                  <a target="_self" href="{{af.urlDownload}}" download='{{af.description}}'>
                    Descargar
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table">
            <caption>Mediciones</caption>
            <thead>
              <tr>
                <th>#</th>
                <th>Tipo</th>
                <th>Valor</th>
                <th>Unidad</th>
                <th>Fuente</th>
                <th>Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='m in measurements'>
                <th scope="row">{{($index+1)}}</th>
                <td>{{m.measurement_type.name}}</td>
                <td>{{m.value}}{{m.measurement_unit.symbol}}</td>
                <td>{{m.measurement_unit.name}}</td>
                <td>{{m.measurement_source.name}}</td>
                <td>{{m.datetime | date:'dd/M/yyyy HH:mm'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div class="panel panel-default" style='margin-top:30px;'>
        <div class="panel-heading"><strong>{{commentsLength()}}</strong></div>

        <div class="panel-body">

          <div class="media" ng-repeat='c in comments'>
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="images/yesDoc2.png" alt="..." style='width:64px;height:auto'>
              </a>
            </div>
            <div class="media-body">
              <h5 style='margin-top:0px;margin-bottom:0px;'><a href=''>{{c.profile.first_name}} {{c.profile.last_name}}</a>  <small am-time-ago='c.datetime'></small></h5>
              <p>{{c.comment}}</p>
            </div>
          </div>

          <form name="commentForm" class="form-horizontal" role="form" ng-submit="addComment()">
            <div class="panel panel-default" style='margin-top:10px;'>
              <div class="panel-body">
                <textarea id='comment' ng-model='c.comment' class="form-control" style="padding:0px !important;border: none" rows="3" id="comment" placeholder="Realiza un comentario."></textarea>
              </div>
              <div class="panel-footer">
                <div style='text-align: right;'>
                  <button class="btn btn-primary" style=''>Enviar</button>
                </div>
              </div>
            </div>
          </form>


        </div>
      </div>


    </div>
  </div>
</div>
