<div class=jumbotron>
  <div class="container">
    <h1>La información es tuya!</h1>
    <p>Guardala en tu gestor de archivos preferido</p>
    <a class="btn btn-primary"
      href='https://www.dropbox.com/1/oauth2/authorize?response_type=token&client_id=i7u47ht1t730nar&redirect_uri=https://yesdoc.herokuapp.com/dropbox-auth-finish.html'>
      <i class="fa fa-dropbox"></i>
      Conectar con mi Dropbox</a>
    <a class="btn btn-warning"><img src='images/drive-white.png' style='width:23px;height:23px;padding-bottom: 1px;'></img>
      Conectar con mi Drive</a>
  </div>
</div>
