<div class='col-md-12'>
  <div class="card">
    <div class='header' >
      <h4 class='title'>
        <span class="fa fa-area-chart fa-lg" aria-hidden="true"></span>
        &nbsp; Histórico

        <div class="pull-right">

            <div class="btn-group" >
              <ul class="nav navbar-nav" >
                <li class="dropdown">
                  <button class='btn btn-default' href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <b class="caret"></b>
                    <span>Peso</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#/home/weight"><i class='glyphicon glyphicon-scale'></i>&nbsp; Peso</a></li>
                    <li><a href="#/home/height"><i class='glyphicon glyphicon-resize-vertical'></i>&nbsp; Altura</a></li>
                  </ul>
                </li>
              </ul>
            </div>

        </div>

      </h4> 
    </div>
    <div class="content">
      <div app-view-segment="1" ></div>
    </div>
  </div>

    <script >
            $(function(){

              $(".dropdown-menu").on('click', 'li a', function(){
                $(".btn:first-child > span").text($(this).text());
              });

            });
    </script>
