<div class="row bs-callout bs-callout-success">
    <div class="col-md-3 edition-nav">
        <ul class="nav nav-pills nav-stacked">           
            <li >
                <a href=""><span class="glyphicon glyphicon-plus-sign" ></span>
                Resumen Médico</a></li>
            <li>
                <a href=""><span class="glyphicon glyphicon-user" ></span>
                Información personal</a></li>         
            <li>
                <a href="">
                <span class="glyphicon glyphicon-folder-open"></span>
                Datos Médicos</a></li>
            <li>
                <a href="">
                <span class="glyphicon glyphicon-align-left"></span>
                Mediciones</a></li>
        </ul>
    </div>
    <div class="col-md-9 ">
        Aqui va el contenido que se mostrará al seleccionar la opción de la botonera.
    </div>
</div>
