<div class='col-md-6'>
  <div class="card">
    <div class="header" style='padding-top:10px;padding-bottom:10px;margin-bottom:15px;' >
      <h4 class='title'>
        <span class='fa fa-user'></span>
        &nbsp; Información Personal
        <div class="pull-right">
          <a class="btn btn-default btn-sm" ng-href="#/myProfileInformation/edit">
            <span class="fa fa-edit" aria-hidden="true"></span>
            Editar
          </a>
        </div>
      </h4> 
    </div>
    <div class="content" style='padding-top:0px;'>
      
      <div ng-show="profile.src" style='width:120px; margin: 20px auto 20px;'>
        <img style='width:120px' ng-src="{{profile.src}}" alt="" class="img-thumbnail">
      </div>

      <div class="row ">
        <div class="col-md-6 text-right">Nombre:</div>
        <div style='padding-left:0px' class="col-md-6">{{profile.first_name}}</div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right">Apellido:</div>
        <div style='padding-left:0px' class="col-md-6">{{profile.last_name}}</div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right">Nacimiento:</div>
        <div style='padding-left:0px' class="col-md-6">{{profile.birthday}}</div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right">Género:</div>
        <div style='padding-left:0px' class="col-md-6">{{profile.gender}}</div>
      </div>
    </div>
  </div>
</div>

<div class='col-md-6'>
  <div class="card">
    <div class="header" style='padding-top:10px;padding-bottom:10px;margin-bottom:15px;' >
      <h4 class='title'>
        <span class='fa fa-group'></span>
        &nbsp; Grupos
        <div class="pull-right">
          <a class="btn btn-default btn-sm" ng-click="showAddGroup()">
            <span class="fa fa-plus-circle fa-lg" aria-hidden="true"></span>
            Nuevo
          </a>
        </div>
      </h4>
    </div>
    <div class="content" style='padding-top:0px;'>
      <div ng-show='sin_grupos'><h4 class='text-center'><a ng-click='showAddGroup()' href=''>Crea tu primer Grupo</a><h4> </div>   
      <div class='panel panel-default' style='padding: 10px 10px 10px 10px;' ng-repeat='g in groups'>

        <a href='' style='color:black;' title='Mostrar miembros' data-toggle="collapse" data-target="#collapse{{$index}}" aria-expanded="false" aria-controls="collapseExample">
          <span class="fa fa-caret-square-o-down"></span>
          {{g.name}}
        </a>

        <div class='pull-right' ng-show='g.is_admin'> 
        <a class='btn btn-sm btn-primary' title='Agregar Miembro' style='padding:3px;margin-top:-5px;' href='' ng-click='showAddMember($index)'><span class='fa fa-user-plus'></span></a>
        <!-- <a class='btn btn-sm btn-warning' title='Editar Grupo'
          style='padding:3px;margin-top:-5px;' href='' ng-click='showEditGroup($index)'><span class='fa fa-edit'></span></a> -->
        <a class='btn btn-sm btn-danger' title='Eliminar Grupo' style='padding:3px;margin-top:-5px;' href='' ng-click='deleteGroup($index)'><span class='fa fa-trash'></span></a>
        </div>

        <div class="collapse" id="collapse{{$index}}">
              <!-- Table -->
              <table class='table'>
              <thead>
                <tr>
                  <th>Nombre y Apellido</th>
                  <th>Rol</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat='m in g.members'>
                  <td><i ng-show='m.is_admin' title='Es administrador' class='fa fa-key'></i> {{m.profile.first_name}} {{m.profile.last_name}}</td>
                  <td>{{m.group_membership_type.name}} </td>
                  <td>
                    <a ng-show='canExpulse(g,m)' class='text-danger' title='Expulsar miembro' style='padding:3px;margin-top:-5px;' href='' ng-click='deleteMember(m)'><span class='fa fa-remove'></span></a>
                  </td>
                </tr>
              </tbody>
              </table>
        </div>

      </div>


    </div>
  </div>
</div>
