<div class="well text-info " aria-label="Left Align" ng-repeat='d in data'>
    
    <div class="row ">
        <div class="col-md-2">Nombre:</div>
        <div class="col-md-3">{{d.first_name}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Apellido:</div>
        <div class="col-md-4">{{d.last_name}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Nacimiento:</div>
        <div class="col-md-4">{{d.birthday}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Género:</div>
        <div class="col-md-4">{{d.gender}}</div>
    </div>
</div>

