  <div class="card">
    <div class='header' >
      <h4 class='title'>
        <span class="fa fa-stethoscope fa-lg" aria-hidden="true"></span>
        &nbsp; Últimas mediciones
        <div class="pull-right">

            <div class="btn-group" >
            <a class="btn btn-default btn-sm" style='margin-left:10px' ng-href="#/measurements/new">
              <span class="fa fa-plus-circle fa-lg" aria-hidden="true"></span>
              Nueva
            </a>
            </div>

        </div>
      </h4> 
    </div>
    <div class="content">
      <div class='table-responsive'>
        <table class='table table-hover table-condensed'>
          <thead>
            <tr>
              <th>Medición</th>
              <th>Valor</th>
              <th>Fecha</th>
              <th>Hora</th>
              <th>Análisis</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="measurement in measurements">
              <td>{{measurement.measurement_type.name}}</td>
              <td>{{measurement.value}} {{measurement.measurement_unit.symbol}}</td>
              <td>{{measurement.datetime | date:"dd-MM-yyyy"}}</td>
              <td>{{measurement.datetime | date:"HH:mm:ss"}}</td>
              <td>
                <a ng-href="#/analyses/{{measurement.analysis.id}}">
                  {{measurement.analysis.description}}
                </a>
              </td>
              <td class='text-center'>
                <a type="button" ng-href="#/measurements/{{measurement.id}}/edit">
                  <i class="fa fa-pencil-square-o fa-lg"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

