<div class="bs-callout bs-callout-success" aria-label="Left Align">
    <div class="pull-right">
        <a class="btn btn-default btn-sm" ng-href="#/myProfileInformation/edit">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            Editar Perfíl
        </a>
    </div>
   <h4>Información Personal</h4> 
    <div class="row ">
        <div class="col-md-2">Nombre:</div>
        <div class="col-md-4">{{profile.first_name}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Apellido:</div>
        <div class="col-md-4">{{profile.last_name}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Nacimiento:</div>
        <div class="col-md-4">{{profile.birthday}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Género:</div>
        <div class="col-md-4">{{profile.gender}}</div>
    </div>
</div>

