<div class='col-sm-12'>
    <div class="card">
        <div class='header' >
            <h4 class='title'>
                <span class="fa fa-user-plus fa-lg" aria-hidden="true"></span>
                &nbsp;&nbsp; Nuevo perfil
            </h4>
        </div>
        <div class="content col-sm-offset-1">

            <form name="profileForm" class="form-horizontal" role="form" ng-submit="addProfile()">
                <div ng-include="'views/partials/profileform.html'"></div>
            </form>

        </div>
    </div>
</div>
