<div class='col-md-6'>
  <div class="card">
    <div class="header" style='padding-top:10px;padding-bottom:10px;margin-bottom:15px;' >
      <h4 class='title'>
        <span class='fa fa-user'></span>
        &nbsp; Información Personal
        <div class="pull-right">
          <a class="btn btn-default btn-sm" ng-href="#/myProfileInformation/edit">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            Editar
          </a>
        </div>
      </h4> 
    </div>
    <div class="content" style='padding-top:0px;'>
      <div class="row ">
        <div class="col-md-2">Nombre:</div>
        <div class="col-md-4">{{profile.first_name}}</div>
      </div>
      <div class="row">
        <div class="col-md-2">Apellido:</div>
        <div class="col-md-4">{{profile.last_name}}</div>
      </div>
      <div class="row">
        <div class="col-md-2">Nacimiento:</div>
        <div class="col-md-4">{{profile.birthday}}</div>
      </div>
      <div class="row">
        <div class="col-md-2">Género:</div>
        <div class="col-md-4">{{profile.gender}}</div>
      </div>
    </div>
  </div>
</div>

<div class='col-md-6'>
  <div class="card">
    <div class="header" style='padding-top:10px;padding-bottom:10px;margin-bottom:15px;' >
      <h4 class='title'>
        <span class='fa fa-group'></span>
        &nbsp; Grupos
        <div class="pull-right">
          <a class="btn btn-default btn-sm" ng-click="showAddGroup()">
            <span class="fa fa-plus-circle fa-lg" aria-hidden="true"></span>
            Nuevo
          </a>
        </div>
      </h4>
    </div>
    <div class="content" style='padding-top:0px;'>
      <div ng-show='groups.length==0'><h4 class='text-center'><a ng-click='showAddGroup()' href=''>Crea tu primer Grupo</a><h4> </div>   
      <div class='panel panel-default' style='padding: 10px 10px 10px 10px;' ng-repeat='g in groups'>

        <a href='' data-toggle="collapse" data-target="#collapse{{$index}}" aria-expanded="false" aria-controls="collapseExample">
          {{g.name}}
          <span class='fa fa-plus-square-o'></span>
        </a>

        <div class="collapse" id="collapse{{$index}}">
              <!-- Table -->
              <table class='table'>
              <thead>
                <tr>
                  <th>Nombre y Apellido</th>
                  <th>Rol</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat='m in g.members'>
                  <td>{{m.profile.first_name}} {{m.profile.last_name}}</td>
                  <td>{{m.group_membership_type.name}} <i class='fa fa-key'></i></td>
                </tr>
              </tbody>
              </table>
        </div>

      </div>


    </div>
  </div>
</div>
